@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: #444;
  color: #aaa;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #222;
  height: 40px;
  text-align: center;
  color: #aaa;
  line-height: 40px;
}

header section {
  position: absolute;
  top: 0;
  height: 50px;
  line-height: 30px;
  padding: 10px 15px;
  left: 310px;
  right: 310px;
}

header section:first-child {
  left: 0;
  right: auto;
  width: 310px;
  background: #222;
}

header section:last-child {
  right: 0;
  left: auto;
  width: 310px;
  background: #666;
}

header section h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  color: #fff;
}

header nav {
  float: right;
}

.editor {
  position: fixed;
  left: 310px;
  right: 310px;
  top: 50px;
  bottom: 40px;
}

.CodeMirror-gutters {
  background: transparent;
  border: none;
}

.editor-gutter {
  width: 40px;
  background: transparent;
}

.CodeMirror {
  font-family: 'Source Code Pro', monospace;
  font-size: 14px;
  line-height: 20px;
  background: #eee;
  transition: background-color 300ms ease 300ms;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
}


.CodeMirror-lines {
  margin-top: 15px;
  margin-bottom: 25px;
  margin-right: 10px;
}

.CodeMirror-lines:after,
.CodeMirror-lines:before {
  position: relative;
  left: -16.5px;
  display: block;
  padding-left: 4px;
  color: #aaa;
}

.CodeMirror-lines:before {
  content: 'predication({';
}

.CodeMirror-lines:after {
  content: '})';
}

.CodeMirror-matchingbracket {
  color: red !important;
}

.editor.invalid .CodeMirror {
  background: #edd;
}

.numbers-wrap {
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 40px;
  width: 310px;
  overflow-y: auto;
  background: #111;
  padding: 10px;
  border-left: 10px solid #111;
}

.numbers {
  margin: auto;
  font-family: 'Source Code Pro', monospace;
  font-size: 28px;
  overflow: hidden;
  font-size: 13px;
  color: limegreen;
}

.numbers > li {
  text-align: center;
  line-height: 40px;
  width: 40px;
  height: 40px;
  float: left;
  list-style: none;
}

.numbers > li:nth-child(2n) {
  // background: #222;
}

.number {
  transition: all 350ms ease;
  display: block;
  transform: scale(1);
}

.number.filtered {
  // color: red;
  opacity: 0.1;
  transform: scale(.8);
}
